mixin renderCardsCollection(cards)
  each card in cards
        div.four.wide.column
          div.ui.card
            div.image
              img(src='http://www.clashapi.xyz/images/cards/' + card.idName + '.png')
            div.content
              a(href='/api/v1/cards/' + card.idName).header=card.name
              div.meta
                span.date=card.type
              div.description= card.description

            div.extra.content
              div.ui.grid.doubling.stackable
                a(title='Rarity').five.wide.column.small.text
                  i.empty.star.icon
                  =card.rarity
                a(title='Elixir Cost').five.wide.column
                  i.money.icon
                  =card.elixirCost
                a(title='Arena').five.wide.column
                  i.ticket.icon
                  =card.arena