div.ui.secondary.pointing.menu.yellow
  a.item(class=(title === 'Homepage' ? 'active' : ''), href='/') Home
  a.item(class=(title === 'Card List' ? 'active' : ''), href='/cards?page=0&limit=8') Cards
  a.item(class=(title === 'Decks' ? 'active' : ''), href='/decks') Decks
  a.item(class=(title === 'About' ? 'active' : ''), href='/about') About
  div.right.menu
    a.ui.item Login
