nav
  div.nav-wrapper
    a(class='button-collapse', data-activates='mobile', href='#')
      i.material-icons menu
    ul#nav-mobile.left.hide-on-med-and-down
      li(class=(pageHeader.title === 'Homepage' ? 'active' : ''))
        a( href='/') Home
      li(class=(pageHeader.title === 'Card List' ? 'active' : ''))
        a(href='/cards?page=0&limit=8') Cards
      //- li(class=(pageHeader.title === 'Decks' ? 'active' : ''))
      //-   a(href='/decks') Decks
      li(class=(pageHeader.title === 'Random Deck' ? 'active' : ''))
        a(href='/random') Random Deck
      //- li(class=(pageHeader.title === 'Leagues' ? 'active' : ''))
      //-   a(href='/leagues') Leagues
      //- li(class=(pageHeader.title === 'Chests' ? 'active' : ''))
      //-   a(href='/chests') Chests
      li(class=(pageHeader.title === 'Players' ? 'active' : ''))
        a(href='/players') Players
      //- li(class=(pageHeader.title === 'About' ? 'active' : ''))
      //-   a(href='/about') About

    ul#mobile.side-nav
      li(class=(pageHeader.title === 'Homepage' ? 'active' : ''))
        a( href='/') Home
          i.material-icons cloud
      li(class=(pageHeader.title === 'Card List' ? 'active' : ''))
        a(href='/cards?page=0&limit=8') Cards
      //- li(class=(pageHeader.title === 'Decks' ? 'active' : ''))
      //-   a(href='/decks') Decks
      li(class=(pageHeader.title === 'Random Deck' ? 'active' : ''))
        a(href='/random') Random Deck
      //- li(class=(pageHeader.title === 'Leagues' ? 'active' : ''))
      //-   a(href='/leagues') Leagues
      //- li(class=(pageHeader.title === 'Chests' ? 'active' : ''))
      //-   a(href='/chests') Chests
      li(class=(pageHeader.title === 'Players' ? 'active' : ''))
        a(href='/players') Players
      //- li(class=(pageHeader.title === 'About' ? 'active' : ''))
      //-   a(href='/about') About

script.
  //- Load collapsible menu
  document.addEventListener('DOMContentLoaded', () => {
    $(".button-collapse").sideNav()
  })
