extends layout

include _includes/cardsHTMLExtensions

block content
  div.background.short.arena
    div.blur
  h1.background-image-text.title.short= pageHeader.title
  h4.background-image-text.text.short= pageHeader.subtitle

  div.container
    +renderCardsCollection(cards)

  div.row.center-aligned
    +createPagination(pages)