extends layout

include _includes/cardsHTMLExtensions

block content
  div.background.short.decks
    div.blur
  h1.background-image-text.title.short= pageHeader.title
  h2.background-image-text.text.short= pageHeader.subtitle

  div.title

  div.ui.doubling.stackable.grid.container
    +renderCardsCollection(cards)

  div.ui.grid.centered
    +createPagination(pages)