extends layout

include _includes/cardsHTMLExtensions

block content
  div.background.arena
    div.blur
  h1.background-image-text.title= pageHeader.title
  h4.background-image-text.text= pageHeader.subtitle