extends layout

include _includes/cardsHTMLExtensions

block content
  div.background.short.players
    div.blur
  h1.background-image-text.title.short= pageHeader.title
  h4.background-image-text.text.short= pageHeader.subtitle

  div.ui.doubling.stackable.grid.container.spacer
    +renderCardsCollection(cards)

  div.row.ui.center.aligned.grid.spacer
    h2 Random Deck Stats:

  div.ui.segment.page.content.container.stackable
    div.ui.four.column.grid
      div.row
        div.column
          | Total elixir cost:
          +renderTotalElixirCost(cards)
        div.column
          | Total troops:
          +renderTotalCardType(cards, 'Troop')
        div.column
          | Total spells:
          +renderTotalCardType(cards, 'Spell')
        div.column
          | Total buildings:
          +renderTotalCardType(cards, 'Building')