@import variables

/* General styles */
@font-face
  font-family: 'Supercell-magic-webfont'
  src: url('./fonts/Supercell-magic-webfont.ttf')

html, body
  background-color: #f1f1f1
  color $main-color

h1, h2, h3, h4, h5, h6,
  font-family: $brand-font

h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.17em
h4
  font-size: 1.12em
h5
  font-size: .83em
h6
 font-size: .75em

.main
  display: flex
  flex-direction: column

.main-content
  flex: 1 0 auto

.title
  margin: 2em 0 !important

footer.footer
  font-family: $brand-font
  font-size: 0.75em
  color: $main-font-color
  padding: 20px !important
  margin: 1em 0 !important

footer p.small,
  color: $secondary-font-color
  font-family: $secondary-font
  font-size: 0.9rem;

/* Nav */
nav
  text-shadow: 1px 1px #343033
  background-color: $main-color
  font-family: $brand-font

nav li.active a,
nav li.active a:hover
  color: $secondary-color
  border-bottom: 2px solid $secondary-color

@media only screen and (min-width: 601px)
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i
    height: 45px
    line-height: 45px

.side-nav
  background-color: $main-color
.side-nav li>a
  color: white
.side-nav li>a:hover
  color: $secondary-color

/* Pagination */
.pagination li.active
  background-color: $main-color
  color: $secondary-color
.pagination li a
  font-family: $brand-font
  font-size: 1em


/* Card layout */
.card-name
  min-height: 63px
  max-height: 63px
  height: 63px
  font-family: $brand-font
  margin-bottom: 1em !important
  a
    color: black

.type,
.rarity
  color: $secondary-font-color
  font-family: $secondary-font

p.type,
p.rarity
  margin: 0.25em 0 !important

p.small.text.type,
p.small.text.rarity
  color: $secondary-font-color

.small.text
  font-size: 0.75em

.card-image-container
  text-align: center
  margin: -10px 0px 20px 0px

.card-image
  max-width: 60%
  margin: auto

.card-image-detail
  max-width: 65%
  margin: 2em

.card-image:hover,
.card-image-detail:hover
  transform: scale(1.2);
  transition: transform 1s cubic-bezier(1, -0.45, 0.15, 1.15);

.card-info-name
  color: $main-font-color

/* Icons */
.custom-icon
  font-size: 0
.custom-icon-label
  vertical-align: sub
  margin: 0 0.25em
.elixir
  background-image: url('/images/Elixir.png')
  background-size: cover
  padding: 8px

.add.circle.icon.button
  color: #cd14d9
  font-size: 1.5em

.icon
  font-family: $secondary-font

/* Background Styling */
.background
  width: 100vw
  height: 300px
  position: relative

.background.short
  width: 100vw
  height: $short-background-height
  position: relative

.background > .blur
  position: absolute
  width: 100vw
  height: 300px
  filter: blur(20px)
  background-color: rgba(0, 0, 0, 0.25)
  transition: background-color, 1s ease-out

.background.short > .blur
  height: $short-background-height

.background > .blur:hover
  filter: blur(10)
  background-color: transparent
  transition: all 1s ease-out

.background-image-text
  position: absolute
  left: 0
  width: 100%
  text-align: center
  color: $secondary-color
  text-shadow: 2px 2px #343033

.background-image-text.title
  top: 50px

.background-image-text.text
  top: 150px

.background-image-text.title.short
  top: 25px

.background-image-text.text.short
  top: 110px

/* Hack - Remove */
h6.background-image-text.text
  top: 190px

.arena
  background-image: url('/images/arena2.jpg')
  background-size: cover

.camp
  background-image: url('/images/arena4.jpg')
  background-size: cover

.league
  background-image: url('/images/arena3.jpg')
  background-size: cover

.chests
  background-image: url('/images/arena5.jpg')
  background-size: cover

.players
  background-image: url('/images/arena7.jpg')
  background-size: cover

/* Utils */
.text-faded
  color: $secondary-font-color

.pushup
  margin-top: -60px !important
.pushup.higher
  margin-top: -100px !important

.spacer
  margin: 2em 0 !important

.separator
  margin: 2em 0
  border-top: 1px solid $secondary-font-color

.text-centered
  text-align: center !important


/* Homepage */
.home
  text-align: center

.home img
  max-width: 30% !important
  margin: 1.5em 0

.home > .detail
  text-shadow: none
  color: $secondary-font-color

.laugh
  background-image: url('/images/laugh.png')
  background-size: cover

/* Players */
.players-detail
  text-align: center
  .row
    margin: 0.75em 0

.players-header
  font-weight: 600
  font-size: 0.85em
  margin: 1em 0

.players-description
  span
    color: $secondary-font-color
    margin: 0 1em 0 0
  i
    margin: 0 0.5em
  i.protect
    color: $main-color
  i.heart
    color: #d40000
  i.bomb
    color: black