/* Heights */
/* General styles */
@font-face {
  font-family: 'Supercell-magic-webfont';
  src: url("./fonts/Supercell-magic-webfont.ttf"); }

html, body {
  background-color: #f1f1f1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Supercell-magic-webfont", "Georgia", serif !important; }

.main {
  display: flex;
  flex-direction: column; }

.main-content {
  flex: 1 0 auto; }

.title {
  margin: 2em 0 !important; }

footer.footer {
  font-family: "Supercell-magic-webfont", "Georgia", serif !important;
  font-size: 0.75em;
  color: #363636;
  padding: 20px !important;
  margin: 1em 0 !important; }

footer > p.small {
  color: #858585;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* Nav */
.ui.secondary.pointing.menu {
  margin-bottom: 0;
  text-shadow: 1px 1px #343033;
  background-color: #488bf4;
  font-family: "Supercell-magic-webfont", "Georgia", serif !important; }

.ui.secondary.pointing.menu a.item {
  color: white; }

.ui.secondary.pointing.menu a.item:hover {
  color: #feb252; }

/* Card layout */
.ui.card > .image, .ui.cards > .card > .image {
  background-color: transparent; }

.card-name {
  font-family: "Supercell-magic-webfont", "Georgia", serif !important;
  margin-bottom: 1em !important; }
  .card-name a {
    color: black; }

.card-options {
  display: flex !important;
  align-items: center;
  justify-content: flex-end; }

.small.text {
  font-size: 0.75em; }

.card-image-container {
  text-align: center; }

.card-image {
  max-width: 45%;
  margin: auto; }

.card-image-detail {
  max-width: 65%;
  margin: auto; }

.card-image:hover,
.card-image-detail:hover {
  transform: scale(1.2);
  transition: transform 1s cubic-bezier(1, -0.45, 0.15, 1.15); }

.card-info-name {
  color: #363636; }

/* Icons */
.elixir {
  background-image: url("/images/Elixir.png");
  background-size: cover;
  padding: 10px; }

.elixir.icon.card-detail {
  margin: 0 10px -3px 10px; }

.add.circle.icon.button {
  color: #cd14d9;
  font-size: 1.5em; }

.icon {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif; }

.content-detail {
  margin: 1em 0; }
  .content-detail .detail-label {
    vertical-align: top;
    font-family: "Supercell-magic-webfont", "Georgia", serif !important; }

/* Background Styling */
.background {
  width: 100vw;
  height: 300px;
  position: relative; }

.background.short {
  width: 100vw;
  height: 150px;
  position: relative; }

.background > .blur {
  position: absolute;
  width: 100vw;
  height: 300px;
  filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color, 1s ease-out; }

.background.short > .blur {
  height: 150px; }

.background > .blur:hover {
  filter: blur(10);
  background-color: transparent;
  transition: all 1s ease-out; }

.background-image-text {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #feb252;
  text-shadow: 2px 2px #343033; }

.background-image-text.title {
  top: 50px; }

.background-image-text.text {
  top: 150px; }

.background-image-text.title.short {
  top: 25px; }

.background-image-text.text.short {
  top: 110px; }

.arena {
  background-image: url("/images/arena2.jpg");
  background-size: cover; }

.camp {
  background-image: url("/images/arena4.jpg");
  background-size: cover; }

.league {
  background-image: url("/images/arena3.jpg");
  background-size: cover; }

.chests {
  background-image: url("/images/arena5.jpg");
  background-size: cover; }

.players {
  background-image: url("/images/arena7.jpg");
  background-size: cover; }

/* Utils */
.text-faded {
  color: #858585; }

.pushup {
  margin-top: -60px !important; }

/*# sourceMappingURL=style.css.map */